@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');
* {
    padding: 0;
    margin: 0;
}

/* global declarations for mobile view */

h1, h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: hsl(243, 87%, 12%);
    text-align: center;
    margin: 12px 0;
}
h3 {
    font-family: 'Raleway', sans-serif;
}
button {
    background-color: hsl(224, 93%, 58%);
    border: none;
    color: white;
}
p {
    font-family: 'Open Sans', sans-serif;
}
a {
    color: hsl(170, 45%, 43%);
    text-decoration: none;
    border-bottom: 2px solid hsl(170, 45%, 43%);
    margin: auto;
    padding-bottom: 4px;
    font-family: 'Raleway', sans-serif;
}
li {
    font-family: 'Raleway', sans-serif;
}
/* navbar */

header {
    display: flex;
    width: 90%;
    margin: 16px auto;
}
header img {
    width: 120px;
}
nav {
    display: flex;
    width: 100%;
    list-style: none;
    align-items: center;
    justify-content: end;
    color: hsl(243, 87%, 12%);
}
nav li {
    margin-right: 12px;
}

/* two column layout */

section {
    align-items: center;
    justify-content: center;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.column {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
}
.icons {
    width: 32px;
}
main section:nth-child(2) div:nth-child(3){
    object-fit: cover;
    background-color: hsl(240, 75%, 98%)
}
.column img {
    margin: 24px auto;
    width: 50%;
    min-width: 350px;
    max-width: 650px;
}
.column p {
    color: hsl(243, 87%, 12%);
    margin: 10px auto;
}
.column .center-p {
    color: hsl(243, 87%, 12%);
    display: flex;
    text-align: center;
    margin: 24px;
}
.column1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
}

.column1 p {
    color: hsl(243, 87%, 12%);
    margin: 10px auto;
}
form {
    display: flex;
    flex-direction: column;
    width: 95%;
    max-width: 350px;
    margin: auto;
}
input, button {
    padding: 10px;
    margin: 6px;
}
button {
    border-radius: 4px;
}
::placeholder {
    padding-left: 10px;
}
.column1 img {
    width: 24px;
    margin-bottom: -6px;
}
blockquote {
    width: 80%;
    max-width: 300px;
    margin: 36px auto;
    padding: 24px;
    border-radius: 6px;
    box-shadow: 0px 0px 12px 0px grey;
    background-color: white;
}
.quote-info {
    display: flex;
    align-content: center;
}
.quote-info img {
    width: 42px;
    border-radius: 50%;
    margin-right: 8px;
}
.quote-person {
    font-family: 'Raleway', sans-serif;
    margin-top: 4px;
}
.semi-footer {
    background-color: hsl(238, 22%, 44%);
    color: hsl(240, 75%, 98%);
    margin: auto;
    padding: 48px 0;
    text-align: center;
}
.semi-footer p {
    width: 85%;
    color: hsl(240, 75%, 98%);
}
/* footer */
footer {
    padding: 24px 0;
    background-color: hsl(243, 87%, 12%);
    color: white;
    font-family: 'Open Sans';
}
footer img {
    margin: 28px 0 0 28px;
    color: white;
}
ul {
    margin: 28px 0 0 28px;
    list-style: none;
    line-height: 35px;
}
ul img {
    margin: -8px 12px 0 0;
}
/* socials */
.socials {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
}
.socials img {
    width: 18px;
    border: 2px solid white;
    border-radius: 50%;
    padding: 8px;  
}
.bg-image {
    width: 100%;
    margin-bottom: -5px;
}
.bg-image-2 {
    margin-bottom: -5px;
    width: 100%;
}
/* media queries for responsiveness */
@media screen and (min-width:1024px) {
    h1, h2, p, .center-p {
        text-align: left;
    }
    header {
        margin-top: 32px;
        width: 95%;
    }
    section {
        display: flex;
        flex-direction: row-reverse;
        height: 80vh;
        width: 90%;
    }
    .column .center-p {
        width: 95%;
        text-align: left;
        margin: 24px 0;
    }
    form {
        margin: 24px 0;
        text-align: left;
        flex-direction: row;
        width: 95%;
        max-width: 350px;
    }
    a {
        margin-top: 24px;
        margin-left: 0;
    }
    .bg-image {
        width: 100%;
        margin-bottom: -5px;
    }
    .bg-image-2 {
        margin-bottom: -5px;
        width: 100%;
    }
    blockquote {
        margin: 48px 0;
    }
    .semi-footer {
        text-align: left;
        flex-direction: row;
        height: fit-content;
    }
    .semi-footer h3 {
        margin-left: 48px;
    }
    footer {
        display: grid;
        grid-auto-flow: column;
    }
    .socials {
        justify-content: flex-start;
    }
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(240, 75%, 98%); 
    border: none;
    text-decoration: underline;
}
